<%# hero section %>
<section class="bg-gray-50 rounded-lg">
  <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:items-center">
    <div class="mx-auto max-w-xl text-center">
      <h1 class="text-3xl font-extrabold sm:text-5xl">
        Welcome to
        <strong class="font-extrabold text-red-700 sm:block">RubyCart.</strong>
      </h1>
      <p class="mt-4 sm:text-xl/relaxed">
        Your one-shop for all your e-commerce needs!
      </p>
      <div class="mt-8 flex flex-wrap justify-center gap-4">
        <%= link_to "Shop now", root_path, class: "block w-full rounded bg-red-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-red-700 focus:outline-none focus:ring active:bg-red-500 sm:w-auto" %>
        <%# <a
          class="block w-full rounded px-12 py-3 text-sm font-medium text-red-600 shadow hover:text-red-700 focus:outline-none focus:ring active:text-red-500 sm:w-auto"
          href="#"
        >
          Learn More
        </a> %>
      </div>
    </div>
  </div>
</section>
<%# Main Categories %>
<section class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
    <h2 class="text-center text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">
      Explore categories
    </h2>
    <div class="mt-8 grid grid-cols-2 gap-4 lg:grid-cols-4 lg:gap-8">
      <% @main_categories.each do |category| %>
        <%= link_to category_path(category), class: 'group' do  %>
          <div class="p-2">
            <div class="mb-4 rounded-lg">
              <%= category.image.present? ? image_tag(category.image) : image_tag("https://placehold.co/400") %>
            </div>
            <h4 class="group-hover:underline group-hover:underline-offset-4 mx-auto text-xl font-semibold leading-none tracking-tighter text-gray-900 lg:text-2xl"><%= category.name %></h4>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
<%# Testimonial %>
<section class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
    <h2 class="text-center text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">
      Read trusted reviews from our customers
    </h2>
    <div class="mt-8 grid grid-cols-1 gap-4 md:grid-cols-3 md:gap-8">
      <% 3.times do %>
        <blockquote class="rounded-lg bg-gray-50 p-6 shadow-sm sm:p-8">
          <div class="flex items-center gap-4">
            <div>
              <div class="flex justify-center gap-0.5 text-green-500">
                <% 3.times do %>
                  <%= icon('fa-solid', 'star') %>
                <% end %>
                <%= icon('fa-solid', 'star-half-stroke') %>
                <%= icon('fa-regular', 'star') %>
              </div>
              <p class="mt-0.5 text-lg font-medium text-gray-900">Paul Starr</p>
            </div>
          </div>
          <p class="mt-4 text-gray-700">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa sit rerum incidunt, a
            consequuntur recusandae ab saepe illo est quia obcaecati neque quibusdam eius accusamus
            error officiis atque voluptates magnam!
          </p>
        </blockquote>
      <% end %>
    </div>
  </div>
</section>
<%# Newsletter Sign Up Form %>
<section class="bg-gray-50">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-lg text-center">
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
        Stay Updated
      </h2>
      <p class="hidden text-gray-500 sm:mt-4 sm:block">
        Subscribe to our newsletter for the latest updates and offers.
      </p>
    </div>
    <div class="mx-auto mt-8 max-w-xl">
      <%= form_with url: root_path, method: :post, local: true, class: "sm:flex sm:gap-4" do %>
        <div class="sm:flex-1">
          <label for="email" class="sr-only">Email</label>
          <%= email_field_tag :email, nil, placeholder: "Email address", class: "w-full rounded-md border-gray-200 bg-white p-3 text-gray-700 shadow-sm transition focus:border-white focus:outline-none focus:ring focus:ring-yellow-400" %>
        </div>
        <%= button_tag(type: "submit", class: "group mt-4 flex w-full items-center justify-center gap-2 rounded-md bg-rose-600 px-5 py-3 text-white transition focus:outline-none focus:ring focus:ring-yellow-400 sm:mt-0 sm:w-auto") do %>
          <span class="text-sm font-medium">Subscribe</span>
          <%= icon('fa-solid', 'arrow-right') %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
